// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.status_tag.pending {
  background-color: #f0ad4e;   // orange
}

.status_tag.paid {
  background-color: #5cb85c;   // green
}

.status_tag.shipped {
  background-color: #0275d8;   // blue
}

.status_tag.cancelled {
  background-color: #d9534f;   // red
}