<h1>All Products</h1>
<!-- Category Filter -->
<p>
  Filter by category:
  <% Category.all.each do |category| %>
    <%= link_to category.name, products_path(category: category.name) %> |
  <% end %>
  <%= link_to "All", products_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <%= render @products %>
  </tbody>
</table>

<div class="pagination">
  <%= paginate @products %>
</div>
